.App {
  font-family: sans-serif;
  padding: 40px;
}

hr {
  margin: 20px 0 !important;
}

a {
  color: blue !important;
}

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/alert";

